@page "/fetchdata"

@using blazor_base
@using BlazorPro.Spinkit

@inject O365Data O365txt

<h1>O:365 C:luster P:harm</h1>

<p>This WebApp consumes O365 email and Clusters the content into unlabeled groups</p>

@if (!isLoaded)
{
    <br />
    <p>working</p>
    <Fold />
    <br />
}
else
{
   
<table class="table">
    <thead>
        <tr>
            <th>Logged in? @o365Data.LoggedIn.ToString()</th>
            <th>Number of Clusters @o365Data.kStr.ToString() </th>
            <th>Clustered? @o365Data.Clustered.ToString()</th>

        </tr>
      
    </thead>
</table>
}



<EditForm Model="@O365txt" OnValidSubmit="(async () => await SendCredsGetData())">
    <DataAnnotationsValidator />
    <ValidationSummary />
    e:mail
    <InputText id="Username" @bind-Value="o365Data.Username"></InputText>
    p:assword
    <InputText id="Password" @bind-Value="o365Data.Password" type="password"></InputText>
    N:umber of Clusters
    <InputText id="kStr" @bind-Value="o365Data.kStr"></InputText>
    N:umber of Msgs to Cluster
    <InputText id="documents" @bind-Value="o365Data.NumberOfDocs"></InputText>

    <button class="button @selected" @ref=buttonSend onclick="(async () => await OnButtonClick())" id="submitter" type="submit">Organize / Cluster my Email</button>
</EditForm>

<style>
    .button1 {
        background-color: deepskyblue;
        border: none;
        color: white;
        /*padding: 15px 32px;*/
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button2 {
        background-color: lightcoral;
        border: none;
        color: white;
        /*padding: 15px 32px;*/
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

</style>
@code {

    bool isLoaded;
    private O365Data o365Data = null;

    public int selected {get; set; } = 1;

    private void OnButtonClick()
    {
        if (selected == 1)
        {
            selected += 1;
        }
        else
        {
            selected = 1;
        }
    }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

        if (o365Data == null)
        {
            o365Data = new O365Data();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        isLoaded = true;
    }
    private ElementReference buttonSend;
    private bool Clustering = false;
    private bool Clustered = false;
    public async Task SendCredsGetData()
    {
        //Clustered = false;       
        isLoaded = false;
        await Task.Run(() => o365Data.GetData());
        isLoaded = true;
    }

}


